
*.synctex(busy)
*.log
/src/340 Project/Project Front page v1/build/
/src/340 Project/Project Front page v1/dist/
/src/340 Project/Project Front page v1/nbproject/private/
/prototypes/340 Project/Project Front page v1/build/
/prototypes/340 Project/Project Front page v1/dist/
/prototypes/340 Project/Project Front page v1/nbproject/private/